.combo-box {
    -fx-background-color: darkgrey;         
    -fx-text-fill: white;                 
    -fx-border-color: white;              
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-font-size: 14px;
}

.combo-box .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #363636;
}

.combo-box-popup .list-view {
    -fx-background-color: #383737;
    -fx-control-inner-background: #363636;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #3c3c3c; 
}
