.transparent-password {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 5;

    -fx-border-color: white;          
    -fx-border-width: 1.2;            
    -fx-border-radius: 5;             

    -fx-text-fill: white;
    -fx-prompt-text-fill: #bbbbbb;

    -fx-font-size: 12px;

    -fx-pref-width: 200px;
    -fx-pref-height: 25px;
    -fx-max-width: 200px;
    -fx-min-width: 200px;
}
