.textfield7 {
    -fx-background-color: darkgrey;
    -fx-background-insets: 0;
    -fx-background-radius: 4;

    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 4; 

    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.6);

    -fx-font-size: 12px;
    
    -fx-pref-width: 70px;
    -fx-pref-height: 25px;
    -fx-max-width: 70px;
    -fx-min-width: 70px;
}